@use './../../styles/abstracts/_colors.scss' as colors;

.sidebar {
  flex: 3;

  &-title {
    color: colors.$primary-color;
    text-align: center;
    padding: 5px;
    font-size: 24px;
    border-top: 1px solid colors.$primary-color;
    border-bottom: 1px solid colors.$primary-color;
  }

  &-links {
    padding: 10px;
  }
  
  &-link  {
margin: 15px 0;
font-size: 18px;
font-weight: 500;
color: colors.$primary-color;
cursor: pointer;
background-color: rgb(170, 168, 168);
text-align: center;
padding: 5px;
position: relative;
text-transform: capitalize;
display: block;
clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 6% 100%, 0% 50%, 6% 0);
transition: all .3s ease-in;

&:hover {
  background-color: colors.$pumpkin-color;
  color: colors.$white-color;
}
  }
}


@media only screen and (max-width: 990px) {
  .sidebar{
    margin-left: 0;
    width: 100%;
  }
}