@use './../../styles/abstracts/_colors.scss' as colors;

.footer {
  width: 100%;
  background-color: colors.$primary-color;
  color: colors.$white-color;
  padding: 20px 0;

  &__content {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  p {
    margin: 0;
    font-size: 14px;
    color: colors.$main-color;
  }

&__links {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;

  li {
    a {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: colors.$secondary-color;
      color: colors.$white-color;

      display: flex;
      align-items: center;
      justify-content: center;

      font-size: 18px;
      transition: all 0.3s ease;

      &:hover {
        background-color: colors.$blue-color;
        color: colors.$white-color;
        transform: translateY(-3px);
      }
    }
  }
}

}

// Responsive
@media (max-width: 768px) {
  .footer__content {
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }
}