.section-posts {
  display: flex;
}


@media only screen and (max-width: 990px) {
  .section-posts {
flex-direction: column;
align-items: center;
  }
}

@media only screen and (max-width: 520px) {
  .section-posts {
    padding: 15px;
  }
}