@use './../../styles/abstracts/_colors.scss' as colors;

.pagination {
  display: flex;
  justify-content: center;
  margin: 20px 0;

  ul {
    display: flex;
    gap: 8px;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .page {
    min-width: 38px;
    height: 38px;
    padding: 0 12px;
    border-radius: 6px;
    border: 1px solid colors.$secondary-color;
    background-color: colors.$white-color;
    color: colors.$primary-color;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    display: flex;
    align-items: center;
    justify-content: center;

      &.prev,
  &.next {
    font-weight: 600;
    background-color: colors.$primary-color;
    color: colors.$white-color;
    
    &:hover:not(:disabled) {
      background-color: colors.$secondary-color;
      color: colors.$white-color;
    }
    &:disabled {
      background-color: colors.$secondary-color;
      color: colors.$white-color;
    }
  }

    &:hover:not(:disabled) {
      background-color: colors.$main-color;
      border-color: colors.$primary-color;
      color: colors.$dark-color;
    }

    &:active:not(:disabled) {
      transform: scale(0.95);
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;
      background-color: colors.$main-color;
    }

    &.active,
    &[aria-current="page"] {
      background-color: colors.$blue-color;
      border-color: colors.$blue-color;
      color: colors.$white-color;
    }


  }
}
