@use './../../styles/abstracts/_colors.scss' as colors;

.home__hero__header{
  background-image: url("./../../images/home-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 520px;
    position: relative;
    margin-bottom: 40px;

    &__layout {
display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    right: 0;
    top: 0;
}
}

.home__latest-post{
  margin-left: 30px;
  padding-bottom: 5px;
  font-size: 30px;
  font-weight: bold;
  color: colors.$dark-color;
  width: max-content;
  margin-bottom: 20px;
  border-bottom: 2px solid colors.$dark-color;
}

.home__container {
      display: flex;
    align-items: flex-start;
    padding: 0 30px;
}

.home-see-posts-link {
padding: 0 30px;
margin: 30px 0;

  .home-link {
    width: 100%;
    padding: 10px;
    font-size: 21px;
    background-color: colors.$dark-color;
    color: colors.$white-color;
    font-weight: 500;
    cursor: pointer;
    border: none;
    display: block;
    text-align: center;
    border-radius: 5px;
    text-transform: capitalize;
  }
}


@media  only screen and (max-width: 990px) {
  .home__container {
    flex-direction: column;
    align-items: center;
  }
}


@media  only screen and (max-width: 520px) {
  .home__container {
padding: 0 15px;
  }

  .home__latest-post {
    margin-left: 15px;
  }

  .home__hero__header__layout__title {
    font-size: 30px;
  }
}