@use './../../styles/abstracts/_colors.scss' as colors;

.post-item {
  width: 100%;
  background-color: rgb(255, 255, 255);
  margin-bottom: 40px;
  padding: 15px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  border: 1px solid rgb(183, 179, 179);

  &-image-wrapper {
    width: 100%;
    margin-bottom: 15px;
  }

  &-image {
    width: 100%;
    height: 600px;
    object-fit: contain;
    border-radius: 5px;
  }

  &-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid colors.$gray-color;
  }

  &-author {
    strong {
      color: colors.$green-sea-color;
      font-size: 18px;
    }

    .post-item-username {
      font-size: 17px;
      font-weight: 500;
      color: colors.$primary-color;
      text-transform: capitalize;
    }
  }

  &-date {
    font-weight: bold;
    font-size: 14px;
    color: colors.$green-sea-color;
  }

  &-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
  }

  &-title {
    color: colors.$primary-color;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    text-transform: capitalize;
  }

  &-category {
    background-color: colors.$pumpkin-color;
    color: colors.$white-color;
    padding: 2px 7px;
    border-radius: 15px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
  }

  &-description {
    font-size: 17px;
    line-height: 1.9;
    color: colors.$secondary-color;
    font-weight: 500;
    padding: 5px;
    margin: 10px 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  &-link {
    background-color: colors.$green-color;
    color: colors.$white-color;
    width: 100%;
    display: block;
    text-align: center;
    font-size: 21px;
    border-radius: 5px;
    padding: 5px;
  }
}
